<style>
    nav ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        justify-content: space-around;
        background-color: #5b5757;
    }
    nav ul li {
        display: inline;
        color: white;
    }
    nav ul li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    </style>
    <nav>
        <ul>
            <li><a href="/members">홈</a></li>
            <li><a href="/member/register/view">회원등록</a></li>
            <li th:if="${session.member != null}">
                [[${session.member.userName}]]님 로그인 / <a href="/logout">로그아웃</a>
            </li>
        </ul>
    </nav>
    <!-- <p><span th:text="${session.member.userName}"></span>님이 로그인 하셨습니다.</p> -->

    <hr>

    <!-- 로그인이 안되어 있으면 index.html로 이동 -->
     <th:block th:if="${session.member == null}">
         <script>
             alert("로그인 하셔야 이용할 수 있습니다.");
             location.href = "/";
         </script>
     </th:block>