<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	window.onload = () => {
		document.querySelector('button').onclick = () => {
			fetch('/api/call?search='+document.querySelector('.txt').value).
			then(response => response.text()).
			then(txt => {
				console.log(txt);
				const xml = new DOMParser().parseFromString(txt,'text/xml');
				console.log(xml);
				let tag = '';
				xml.querySelectorAll('item').forEach(item => {
					tag += `<p>시/도 : ${item.querySelector('gubun').innerHTML}</p>`
					tag += `<p>감염자수 : ${item.querySelector('defCnt').innerHTML}</p>`
				})
				document.querySelector('#container').innerHTML = tag;
			});
		}
	}

</script>
</head>
<body>
	<input type="text" class="txt"> <button type="button">검색</button>
	<hr>
	<div id="container"></div>
</body>
</html>