<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.mapper.BoardMemberMapper">
  <select id="selectAllMember" resultType="member">
  	select * from board_member
  </select>
  <insert id="insertMember" parameterType="member">
  	insert into board_member(id,password,username,nickname)
  	values(#{id}, standard_hash(#{password},'SHA512'), #{userName}, #{nickName})   	
  </insert>
  <select id="selectNameMember" parameterType="string" resultType="member">
  	select * from board_member where username like '%' || #{value} || '%'
  </select>
  <delete id="deleteMember" parameterType="string">
  	delete from board_member where id = #{id}
  </delete>
</mapper>






